<!doctype html>
<html>
<head> 
    <title>Clique e Compre - CEC {{titulo}}</title>
</head>
<body>
    <header>
        <h1>Clique e Compre - CEC</h1>
    </header>

    <main>
        <h2>
            Categorias            
        </h2>

        <form action="escolher_categoria" method="post" >
            <select name="categoria">
            <option value="casaemoveis">Casa e móveis</option>
            <option value="eletrodomesticos">Eletrodomésticos</option>
            <option value="esporteefitness">Esporte e fitness</option>
            <option value="ferramentas">Ferramentas</option>
            </select>
            
            <input type="submit" value="Selecionar">
        </form>

    </main>

</body>
</html>