<!doctype html>
<html>
<head> 
    <title>Clique e compre - CEC {{titulo}}</title>
</head>
<body>
    <header>
        <h1>Clique e compre - CEC</h1>
    </header>

    <nav>
        <div class="navbar">  
            <ul>
                <li><a href={{url_for("index")}}> Home</a></li>
                <li><a href={{url_for("usuario")}}> Cadastro de Usuário</a></li>
                <li><a href={{url_for("anuncio")}}> Cadastro de Anúncio</a></li>
                <li><a href={{url_for("categoria")}}> Categorias</a></li>
                <li><a href={{url_for("pergunta")}}> Perguntas</a></li>
                <li><a href={{url_for("compra")}}> Compras</a></li>
                <li><a href={{url_for("favoritos")}}> Favoritos</a></li>
                <li><a href={{url_for("relVendas")}}> Relatórios de Vendas</a></li>
                <li><a href={{url_for("relCompras")}}> Relatórios de Compras</a></li>
            </ul>
        </div>
    </nav>

    <main>
        <div class="content">
            <h2>Seja bem vindo(a) ao Clique e Compre</h2>
            <p>A maneira mais rápida e fácil de adquirir o que você precisa. Navegue, escolha e finalize sua compra com apenas um clique. Simples assim!</p>
        </div>
    </main>
</body>
</html>