<!doctype html>
<html>
<head> 
    <title>Clique e compre - CEC {{titulo}}</title>
</head>
<body>
    <header>
        <h1>Perguntas: Clique e compre - CEC </h1>
    </header>

    <main>
        <div class="questions">
            <h2>Perguntas e Respostas</h2>
            
            <!-- Pergunta 1 -->
            <div class="question-item">
                <p><strong>Pergunta:</strong> Como é a garantia deste produto?</p>
                <p><strong>Resposta:</strong> O produto tem uma garantia de 1 ano contra defeitos de fabricação.</p>
            </div>
            
            <!-- Pergunta 2 -->
            <div class="question-item">
                <p><strong>Pergunta:</strong> Este produto é compatível com outros acessórios?</p>
                <p><strong>Resposta:</strong> Sim, o produto é compatível com a maioria dos acessórios do mercado.</p>
            </div>
            
            <!-- Formulário para novas perguntas -->
            <textarea placeholder="Faça uma pergunta sobre este produto"></textarea>
            <button>Enviar Pergunta</button>
        </div>


        
    </main>

</body>
</html>