<!doctype html>
<html>
<head> 
    <title>Clique e compre - CEC {{titulo}}</title>
</head>
<body>
    <header>
        <h1>Clique e compre - CEC</h1>
    </header>

    <main>
        <h2>Relatório de Compras</h2>
        <table>
            <tr>
                <th>Código do Anúncio:</th>
                <th>Produto:</th>
                <th>Preço:</th>
                <th>Quantidade:</th>
                <th>Data:</th>
                
                
            </tr>

            <tr>
                <td>0202</td>
                <td>04/08/24</td>
                <td>Mouse</td>
                <td>2 Itens</td>
                <td>R$ 100,00</td>
            </tr>
        </table>
    </main>

</body>
</html>