<!doctype html>
<html>
<head> 
    <title>Clique e compre - CEC {{titulo}}</title>
</head>

<body>
    <h2>{{titulo}}</h2>
    <form action="caduser" method="post">
        <p><label for="user">Usuário</label></p>
        <p><input type="text" id="user" name="user"></p>

        <p><label for="email">E-mail</label></p>
        <p><input type="text" id="email" name="email"></p>       

        <p><label for="senha">Senha</label></p>
        <p><input type="text" id="senha" name="senha"></p>
        
        <p><input type="submit" value="Cadastrar"></p>
    </form>
</body>

</html>
